body {
	font-family: Arial;
	margin: 0;
	color: white;
}

.contexter {
	margin: auto;
	width: 900px;
}

h1 {
	text-align: center;
}

input {
	width: 100%;
	color: black;
	background-color: #e6fff2;;
	margin-bottom: 30px;
	height: 30px;
	font-size: 16px;
	outline: none;
}

textarea {
	outline: none;
	color: white;
	background-color: #e6fff2;
	width: 100%;
	height: 500px;
	resize: none;
	overflow-y: hidden
}

button {
	color: #FFF;
	text-decoration: none;
	outline: none;
	border: none;
	background-color: #9f9f9f;
	float: right;
	width: 80px;
	height: 30px;
	font-size: 14px;
	padding: 6px 16px 6px 16px;
	margin: 10px 0px 10px 10px;
}

button:hover {
	background-color: #cccccc;
}